# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Slurm logs
slurm-*.out
slurm-*.err

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.tar

# Vagrant
.vagrant/
infrastructure/.vagrant/
infrastructure/files/*.tar
